/* General */
body {
  margin: 0;
  padding: 0;
  color: #333;
  font: normal 400 12px/16px Inter, Roboto, sans-serif;
  font-weight: 400;
}

canvas {
  display: block;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='color'] {
  border: 0;
  height: 18px;
  width: 20px;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: 0;
}

input[type='color']::-webkit-color-swatch:hover {
  border: 0;
}

button {
  appearance: none;
  border: none;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

.border-bottom {
  border-bottom: 1px solid #edf2f7;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-shrink {
  flex-shrink: 1;
}

.p-2 {
  padding: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

/* Components */
.ui-actions {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: default;
  background: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.ui-actions a {
  color: #777;
}

.ui-actions a:hover {
  color: #333;
}

.tools {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tools li a {
  cursor: default;
  display: block;
  padding: 10px;
  text-align: center;
  margin: 10px 10px;
  border: 1px solid #333;
  color: #777;
  border-radius: 3px;
}

.tools li a:hover {
  color: #333;
}

.tools li a:active {
  border-color: #18a0fb;
}

.plugin-body {
  padding: 45px 15px 15px 15px;
}

.form-row {
  padding: 0 5px 0 0;
}

.form-row:first-child {
  padding-top: 0;
}

.form-row:last-child {
  padding-bottom: 0;
}

.form-row.primary-actions {
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 10px;
  margin: 10px 0 0 0;
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-row-item {
  line-height: 0;
  padding: 0;
  display: flex;
}

.color-input {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
}

.color-input input[type='text'] {
  line-height: 0;
  vertical-align: top;
  margin: 1px 5px 0 5px;
  border: 0;
  outline: none;
}

.color-input input[type='text']:focus {
  outline: none;
}

.color-input:hover {
  border-color: #e1e1e1;
}

.figma-input-container {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 3px;
  margin: 0 3px;
}

.figma-input-container.focused {
  border-color: #18a0fb !important;
}

.figma-input-container:hover {
  border-color: #e1e1e1;
}

.figma-input-container label {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #b3b3b3;
  display: inline-block;
}

.figma-input {
  border: none;
  padding: 5px;
  width: 60%;
  display: inline-block;
}

.figma-input:focus {
  outline: none;
}

.btn-primary {
  border: 1px solid #333;
  border-radius: 3px;
  color: #333;
  padding: 6px 12px;
  outline: none;
}

.btn-primary:active {
  border-color: #18a0fb;
}

.btn-icon {
  appearance: none;
  padding: 8px;
  border: none;
  border-radius: 2px;
  line-height: 0;
  font-size: 1rem;
  font-weight: 100;
}

.btn-icon:active {
  outline: 1px solid #18a0fb;
}

.btn-icon.plus {
  padding: 8px 8px 12px 8px;
  font-size: 1.2rem;
}

.btn-icon.minus {
  padding: 12px 8px;
  font-size: 0.8rem;
}

.btn-icon:hover {
  background: #eee;
}

.section-title {
  font-size: 0.7rem;
  font-weight: bold;
  color: #444;
  padding: 8px 0 0 0;
  margin: 0 0 3px 0;
  vertical-align: middle;
}

.info {
  color: #888;
  margin-bottom: 10px;
}

.ramp-group {
  margin: 12px 0;
}

.ramp-group h3 {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
}

.palette {
  border: 2px solid #fff;
  display: inline-block;
  margin: 3px 0;
  padding: 3px;
}

.palette:hover {
  border-color: #ccc;
}

.palette.focused {
  border-color: #18a0fb;
}
